<li>
	{{burger_name}}

	<button class="change-eat" data-id="{{id}}" data-newEat="{{eat}}">
		{{#if eat}}Time To Eat!{{else}}All Full!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Delete Burger!</button>
</li>
